// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-reg: "plutoregular", "Helvetica", "Arial", sans-serif;
$font-bld: "plutobold", "Helvetica", "Arial", sans-serif;

$font-alt: "Roboto", "Arial", sans-serif;

// Colors

$color-primary: #ff8400;
$color-primary-light: #ffa800;
$color-primary-dark: #ff6500;

$color-text: #767676;

$color-white: #fff;
$color-gray: #dadada;
$color-gray-dark: #696969;
$color-gray-dark-2: #454545;
$color-gray-dark-3: #767676;
$color-gray-dark-4: #5d5d5d;
$color-gray-dark-5: #7b7b7b;
$color-gray-alt: #e0e0e0;
$color-gray-alt-2: #f4f4f4;
$color-gray-alt-3: #f1f1f1;
$color-black: #000;

$color-border: #dddddd;
$color-border-alt: #cccccc;

$color-orange: #f67f00;
$color-orange-light: #ffa800;
$color-orange-dark: #de7300;

$color-red: #c51a28;
$color-red-light: #e05a4e;
$color-red-dark: #c11624;
$color-red-alt: #da4b05;

$color-blue: #186dae;
$color-blue-light: #559ac9;
$color-blue-dark: #1267a8;

$color-green: #659200;
$color-green-light: #95b453;
$color-green-dark: #5d8600;

$color-diamond: #596a8a;
$color-diamond-light: #d0d5df;
$color-diamond-dark: #7c92bb;